[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snowflake-connector-python = "*"
boto3 = "*"
sqlalchemy = "*"
pandas = "*"
snowflake-snowpark-python = "*"
streamlit = "*"
streamlit-autorefresh = "*"
matplotlib = "*"
ipykernel = "*"
snowconvert-deploy-tool = "*"
pyarrow = "*"
scipy = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
